.form {
    max-width: 20rem;
    align-content: center;
    margin: 1rem;
}

.form-group {
    border-color: grey;
}

.form-control-red {
    border-color: red;
}

.small {
    color: red;
}

.button {
    color: black;
    background-color: #e7b720;
}

.text {
    margin: 1rem;
}