.navbar {
    border-bottom: solid 5px #e7b720;
}

.navbar-nav {
    font-size: 1.3rem;
    padding-right: 2rem;
}

.nav-link {
    color: #e7b720;
}

.nav-link:hover {
    color: #ed8c23;
}

.header {
    margin: 3rem 1rem 3rem 1rem;
    background-color: #e7b720;
    border-radius: 25px;
    text-align: center;
}

.navbar-brand img {
    height: 70px;
    width: 70px;
}

.content {
    display: flex;
    margin: 3rem
}

.content img {
    margin-right: 10px;
    float: left;
}

.text {
    float: left;
}

.content-title {
    margin: 2rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    background-color: #f3f3f3;
    text-align: center;
    padding: 1rem;
    color: black;
    margin-top: 1rem;
}

.footer-link {
    color: #e7b720;
}

.footer-link:hover {
    color: #ed8c23;
}