.smaller-width {
    width: 10%;
}

.bigger-width {
    width: 90%;
}

.table {
    width: 90% !important;
    margin: 2rem;
}

.text-area {
    width: 50%;
    margin: 2rem;
}

.form-control {
    margin-bottom: 1rem;
    width: 50%;
}

.form {
    width: 25%;
}