<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/notes.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/notes.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">
            <img src="../static/img/logo.png" alt="logo">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notes">Notes</a>
            </li>
            {% if session["login"] %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out </a>
            </li>
            <li>
                <a class="nav-link" href="/changePassword">Change Password </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <header class="header">
        <h1>Safe App</h1>
    </header>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item list-group-item-success">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <section>
        <p class="text-center">Your notes</p>
        <table class="table table-bordered ">
            <tbody>
                {% if pNotes %} {% for el in pNotes %}
                <tr>
                    <td class="bigger-width">{{el.note}} </td>
                    <td class="smaller-width ">

                        <button onclick="delete_public_notes(this)" id={{el.id}}> delete </button>
                    </td>
                </tr>
                {%endfor %}
            </tbody>
        </table>
        {% else %}
        <h1> There is no pubic notes</h1>
        {%endif %} {% if notes %}
        <p class="text-center">Private notes</p>
        <table class="table table-bordered ">
            <tbody>
                {% for el in notes %}
                <tr>
                    <td class="bigger-width">{{el.note}} </td>
                    <td class="smaller-width">
                        <button onclick="delete_notes(this)" id={{el.id}}> delete </button>
                    </td>
                </tr>
                {%endfor %}
            </tbody>
        </table>
        {%endif %} {% if session["login"] %}
        <div class="text-area">
            <label for="publicNotes">Create public note</label>
            <textarea class="form-control" id="public-notes" rows="3" maxlength="50"></textarea>
            <div id="public-counter"></div>
            <button id="public_delete" onclick="create_public_notes()">Create</button>
        </div>
        <div class="text-area">
            <label for="privateNotes">Create private note</label>
            <textarea class="form-control" id="notes" rows="3" maxlength="50"></textarea>
            <div id="counter"></div>

            <label for="user">Select user</label>
            <select class=" form-control-sm" id="user">
                {% for usr in users %}
              <option>{{usr}}</option>
              {%endfor %}
            </select>
            <button onclick="create_notes()">Create</button>
        </div>
        {% endif %}

    </section>

    <footer class="footer">
        <p>2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>