<!DOCTYPE html>
<html lang="en">

<head>
    <title>Notes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-sm">
        <a class="navbar-brand" href="#">
            <img src="../static/img/logo.png" alt="logo">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notes">Notes</a>
            </li>
            {% if session["login"] %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Log out </a>
            </li>
            <li>
                <a class="nav-link" href="/changePassword">Change Password </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Log in </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <header class="header">
        <h1>Safe App</h1>
    </header>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item list-group-item-danger">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %} {% endwith %}


    <section>
        <form class="form" action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstname">
                <small class="small" id="firstNameText"></small>
            </div>
            <div class="form-group">
                <label for="lastName">First Name</label>
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastname">
                <small class="small" id="lastNameText"></small>
            </div>
            <div class="form-group">
                <label for="lastName">email</label>
                <input type="text" class="form-control" id="email" placeholder="Email" name="email">
                <small class="small" id="emailText"></small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                <small class="small" id="passwordText"></small>
            </div>
            <div class="form-group">
                <label for="password2">Once again Password</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder=" Once again Password">
                <small class="small" id="password2Text"></small>
            </div>
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" class="form-control" id="login" placeholder="Login" name="login">
                <small class="small" id="loginText"></small>
            </div>
            <button type="submit" id="register" class="button" onsubmit="register()">Register</button>
        </form>

    </section>
    <footer class="footer">
        <p>2020</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>